.vscode
_deps
*/_deps
*/*/_deps
*/*/cmake-*
*/cmake-*
cmake-*
*/*/build
*/build
build
pico_sdk/*
CMakeFiles/*
*/CMakeFiles/*
*/*/CMakeFiles/*
Makefile
*/Makefile
*/*/Makefile
*.bin
*/*.bin
*/*/*.bin
*.elf*
*/*.elf*
*/*/*.elf*
*.uf2
*/*.uf2
*/*/*.uf2
generated/*
*/generated/*
*/*/generated/*
elf2uf2/*
*/elf2uf2/*
*/*/elf2uf2/*

CMakeCache.txt
*/CMakeCache.txt
*/*/CMakeCache.txt
